ion-content {
    --background: #080808; /* Warna latar belakang abu-abu */
  }
  
  ion-item {
    --background: #f2f2f2; /* Warna latar belakang item */
  }
  
  ion-button {
    --background: blue; /* Warna latar belakang tombol */
    --color: #ffffff; /* Warna teks pada tombol */
  }
  
  ion-title {
    background-color: #f2f2f2; /* Warna latar belakang abu-abu */
    padding: 8px; /* Atur padding sesuai kebutuhan Anda */
  }
  
  